@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');

h1 { 
    font-family: 'Raleway', sans-serif;
    font-weight: 900;
    font-size: 90vw;
    text-align: center;
    color: white;
    margin-bottom: 0;
}

.mainGradient {
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgb(255, 187, 0), rgb(252, 55, 5));
}

.loadingText {
    animation: loading 1s infinite;
}

@keyframes loading {
    0% {
        content: 'Загрузка';
    }
    33% {
        content: 'Загрузка.';
    }
    66% {
        content: 'Загрузка..';
    }
    100% {
        content: 'Загрузка...'
    }
}

.city {
    font-family: 'Comfortaa', cursive;
    font-weight: 700;
    font-size: 1.6em;
    text-decoration: underline dotted;
}

.cityWrap {
    width: 75%;
}

.mainTemp {
    font-family: 'Comfortaa', cursive;
    font-weight: 700;
    font-size: 4.3em;
    text-align: center;
    color: rgb(255, 219, 153);
}

.mainFeels {
    font-family: 'Comfortaa', cursive;
    font-weight: 700;
    font-size: 1.5em;
    text-align: center;
    color: rgb(255, 219, 153);
}

.mainWeather {
    font-family: 'Comfortaa', cursive;
    font-weight: 700;
    font-size: 70vw;
    text-align: center;
    color: rgb(255, 219, 153);
}