@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&display=swap');

.divData {
    background-color: #afdafc;
}

.cityHeader {
    font-family: 'Comfortaa', cursive;
    font-size: 2em;
    text-align: center;
}